In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [11]:
fin = []
for line in open('7neh.pdb'):
    list = line.split()
    id = list[0]
    if id == 'ATOM':
#         print(list)
#         print(list[3])
#         print(list[4])
#         print(list[5])
        fin.append([list[3], list[4], list[5]])
df = pd.DataFrame(fin)
df.rename(columns = {0:'Residue', 1:'Chain', 2:'ResNO'}, inplace=True)

In [12]:
df

     Residue Chain ResNO
0        GLN     H     1
1        GLN     H     1
2        GLN     H     1
3        GLN     H     1
4        GLN     H     1
...      ...   ...   ...
4820     LYS     E   527
4821     LYS     E   527
4822     LYS     E   527
4823     LYS     E   527
4824     LYS     E   527

[4825 rows x 3 columns]

In [13]:
df['Chain'].nunique()

4

In [14]:
df['Chain'].unique()

array(['H', 'L', '186', 'E'], dtype=object)

In [18]:
df1 = df[df['Chain'] == 'H']

In [19]:
df1

     Residue Chain ResNO
0        GLN     H     1
1        GLN     H     1
2        GLN     H     1
3        GLN     H     1
4        GLN     H     1
...      ...   ...   ...
1625     CYS     H   220
1626     CYS     H   220
1627     CYS     H   220
1628     CYS     H   220
1629     CYS     H   220

[1630 rows x 3 columns]

In [24]:
df1['Residue'].nunique()

20

In [25]:
df1['Residue'].unique()

array(['GLN', 'VAL', 'LEU', 'GLU', 'SER', 'GLY', 'ILE', 'PRO', 'ARG',
       'CYS', 'ALA', 'THR', 'ASN', 'TYR', 'MET', 'TRP', 'LYS', 'PHE',
       'ASP', 'HIS'], dtype=object)

In [23]:
df2 = df[df['Chain'] == 'L']

In [26]:
df2['Residue'].nunique()

21

In [27]:
df['Residue'].unique()

array(['GLN', 'VAL', 'LEU', 'GLU', 'SER', 'GLY', 'ILE', 'PRO', 'ARG',
       'CYS', 'ALA', 'THR', 'ASN', 'TYR', 'MET', 'TRP', 'LYS', 'PHE',
       'ASP', 'HIS', 'AASP', 'BASP', 'L'], dtype=object)

In [28]:
df3 = df[df['Chain'] == 'E']

In [29]:
df3['Residue'].nunique()

19

In [30]:
df3['Residue'].unique()

array(['HIS', 'THR', 'ASN', 'LEU', 'CYS', 'PRO', 'PHE', 'GLY', 'GLU',
       'VAL', 'ALA', 'ARG', 'SER', 'TYR', 'TRP', 'LYS', 'ILE', 'ASP',
       'GLN'], dtype=object)

In [31]:
df1 = df[df['Chain'] == '186']

In [32]:
df1

     Residue Chain    ResNO
3040       L   186  -28.783
3041       L   186  -28.799
3042       L   186  -27.485
3043       L   186  -27.448